{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Select your GP doctor
      </h1>

      <form action="complete" method="">

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">Select your GP doctor</legend>

            <label for="radio-part-1" class="block-label">
              <input id="radio-part-1" type="radio" name="housing-act" value="Part 1">
              <span class="heading-small">Dr John</span><br>
              John Smith Clinic
            </label>

            <label for="radio-part-2" class="block-label">
              <input id="radio-part-2" type="radio" name="housing-act" value="Part 2">
              <span class="heading-small">Dr Smith</span><br>
              John Smith Clinic
            </label>

            <label for="radio-part-0" class="block-label">
              <input id="radio-part-0" type="radio" name="housing-act" value="Part 0">
              <span class="heading-small">None of these are my GP doctor</span>
            </label>

            <div class="form-group">
              <input type="submit" class="button" value="Continue">
            </div>

          </fieldset>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
