// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/

// Override the govuk_frontend_toolkit's font stack
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_font_stack.scss#L13
$toolkit-font-stack: $Helvetica-Regular;

.unbranded {
  background: $white;

  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: $toolkit-font-stack !important;
  }

  // DWP organisation styles
  a {
    color: $base-color;

    &:link,
    &:active,
    &:visited {
      color: $base-color;
    }

    &:hover,
    &:focus {
      color: darken($base-color, 16%);
    }
  }
  .heading-secondary {
    @include heading-27();
    display: block;
    color: $base-color;
    font-weight: 700;
  }
  .heading-medium {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 10px;
  }
  .button {
    background-color: $base-color;
    color: $white !important;

    &:visited {
      background-color: $base-color;
    }

    &:hover,
    &:focus {
      background-color: darken($base-color, 16%);
    }
  }
  .govuk-box-highlight {
    background: $base-color;
    padding-left: 15px;
    padding-right: 15px;
  }

  // Remove GOV.UK header styles
  #global-header {
    background-color: $base-color;

    .header-wrapper {
      background-color: $base-color;
    }
    .header-logo {
      display: none;
    }

  }

  #global-header-bar {
    display: none;
  }

  // Remove GOV.UK footer styles
  #footer {
     border: 0;

    .footer-meta .footer-meta-inner, .footer-meta .copyright {
      display: none;
    }

  }

}
