{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Enter account details
      </h1>

      <form action="complete" method="">

<pre><code>
  <span class="bold-small">Lloyds TSB</span>
  Bank House, Union Road
  New Mills. High Peak. SK22 4QP
  <a href="">This is not my bank</a>

</code>
</pre>

        <legend class="visuallyhidden">Enter account details</legend>

            <!-- Account number -->
            <div class="form-group">
              <fieldset>
                <label class="form-label-bold" for="ba-account-number">
                  Account number (8 digits)
                  <span class="form-hint">Add a zero before the first number of your Lloyds TSB account number</span>
                </label>
                <input type="text" class="form-control" id="ba-account-number" name="ba-account-number" value="" maxlength="10">
              </fieldset>
            </div>

            <!-- Building society optional -->
            <!-- <div class="form-group">
              <fieldset>
                <label class="form-label-bold" for="bs-society-roll">
                  Building society roll or reference number (optional)
                  <span class="form-hint">If your building society uses a roll or reference number, you will find it on your passbook</span>
                </label>
                <input type="text" class="form-control" id="bs-society-roll" name="bs-society-roll" value="" data-required="true">
              </fieldset>
            </div> -->

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

      <div class="form-group">
        <details>
          <summary><span class="summary">I don't know my account number</span></summary>
          <div class="panel panel-border-narrow">
            <p>
              You can find your 8-digit account number on your debit card, cheque or bank statement. Contact your bank or check via online banking if you can't find it.
            </p>
          </div>
        </details>

    </div>
  </div>
</main>

{% endblock %}
